.images{
    user-select: none;

}
.thumbnail{
    max-width:100px;
    max-height:100px;
}
.myimg{
    max-width: 400px;
    max-height: 400px;
}
.tape{
    max-width: 400px;
    height: 100px;
    position: relative;
}

.arrows{
    position: absolute;
    top: 47px;
    font-weight: bold;
    font-size: 3em;
}
.forward{
    left: 0;
}
.backward{
    right: 0;
}